{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaFeatures": {
      "arrowFunctions": true,
      "destructuring": true,
      "spread": true,
      "restParams": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "fetch": true
  }
}